{% sw_extends '@Storefront/storefront/element/cms-element-form/form-types/newsletter-form.html.twig' %}

{% block cms_form_newsletter %}
    <form action="{{ path(action) }}"
        method="post"
        data-form-validation="true"
    >
        <div class="form-content">
            <div class="row form-fields-row">
                {% block cms_form_newsletter_select_action %}
                    <div class="d-none">
                        {{ parent() }}
                    </div>
                {% endblock %}

                {# First name #}
                {% block cms_form_newsletter_input_first_name %}
                    {% sw_include '@Storefront/storefront/element/cms-element-form/form-components/cms-element-form-input.html.twig'
                        with {
                            fieldName: 'firstName',
                            label: 'newsletter.labelFirstName',
                            placeholder: 'newsletter.placeholderFirstName',
                            additionalClass: 'col-6'
                        }
                    %}
                {% endblock %}

                {# Last name #}
                {% block cms_form_newsletter_input_last_name %}
                    {% sw_include '@Storefront/storefront/element/cms-element-form/form-components/cms-element-form-input.html.twig'
                        with {
                            fieldName: 'lastName',
                            label: 'newsletter.labelLastName',
                            placeholder: 'newsletter.placeholderLastName',
                            additionalClass: 'col-6'
                        }
                    %}
                {% endblock %}

                {# Email #}
                {% block cms_form_newsletter_input_email %}
                    {% sw_include '@Storefront/storefront/element/cms-element-form/form-components/cms-element-form-input.html.twig'
                        with {
                            fieldName: 'email',
                            type: 'email',
                            required: true,
                            label: 'newsletter.labelMail',
                            placeholder: 'newsletter.placeholderMail',
                            additionalClass: 'col-12'
                        }
                    %}
                {% endblock %}
            </div>

            {% block cms_form_newsletter_captcha %}
                {% sw_include '@Storefront/storefront/component/captcha/base.html.twig' with { additionalClass : 'col-12' } %}
            {% endblock %}

            <div class="row align-items-end justify-content-end">
                {# Checkbox #}
                {% block cms_form_newsletter_privacy %}
                    <div class="col-12 col-md">
                        {{ parent() }}
                    </div>
                {% endblock %}

                {# Submit button #}
                {% block cms_form_newsletter_submit %}
                    <div class="col-auto">
                        {{ parent() }}
                    </div>
                {% endblock %}
            </div>
        </div>

        {% block cms_form_newsletter_hidden_fields %}
            {{ parent() }}
        {% endblock %}
    </form>
{% endblock %}
