{% sw_extends '@Storefront/storefront/layout/header/actions/language-widget.html.twig' %}


{% block layout_header_actions_language_widget %}
    {% if position is empty %}
        {% set position = 'menuCollapse' %}
    {% endif %}

    {% if page.header.languages.count > 1 %}
        <div class="navigation-collapse-nav-item navigation-collapse-language">
            {% block layout_header_actions_language_widget_form %}
                <form method="post"
                      action="{{ path('frontend.checkout.switch-language') }}"
                      class="language-form"
                      data-form-auto-submit="true"
                >
                    {% block layout_header_actions_language_widget_content %}
                        {% set isoCode = page.header.activeLanguage.translationCode.code|lower|split('-') %}
                        {% set language = isoCode[0] %}
                        {% set country = isoCode[1] %}

                        <div class="languages-menu dropdown">
                            <button class="btn dropdown-toggle navigation-collapse-service-link"
                                type="button"
                                id="languagesDropdown-{{ position }}"
                                data-bs-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false"
                            >
                                {% sw_icon 'globe' style { 'pack': 'choju', 'namespace': 'ChojuTheme' } %}
                                <span class="navigation-collapse-service-link-text">{{ language }}</span>
                            </button>
                            
                            {% block layout_header_actions_languages_widget_form_items %}
                                <div class="navigation-collapse-list dropdown-menu"
                                    aria-labelledby="languagesDropdown-{{ position }}"
                                >
                                    {% for language in page.header.languages %}
                                        <div class="navigation-collapse-list-item dropdown-item{% if language.id is same as(page.header.activeLanguage.id) %} item-checked{% endif %}"
                                            title="{{ language.translated.name }}"
                                        >

                                            {% block layout_header_actions_languages_widget_form_items_flag %}
                                                {% set isoCode = language.translationCode.code|lower|split('-') %}
                                                {% set flagLanguage = isoCode[0] %}
                                                {% set flagCountry = isoCode[1] %}

                                                <label class="navigation-collapse-list-label"
                                                    for="{{ position }}-{{ language.id }}"
                                                >
                                                    <input id="{{ position }}-{{ language.id }}"
                                                        class="navigation-collapse-list-radio"
                                                        value="{{ language.id }}"
                                                        name="languageId"
                                                        type="radio"
                                                        {% if language.id is same as(page.header.activeLanguage.id) %} checked{% endif %}
                                                    >
                                                    <div class="navigation-collapse-list-icon language-flag country-{{ flagCountry }} language-{{ flagLanguage }}"></div>
                                                    {{ language.name }}
                                                </label>
                                            {% endblock %}
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endblock %}
                        </div>

                        <input name="redirectTo" type="hidden" value="{{ app.request.get('_route') }}">

                        {% for key, value in app.request.attributes.get('_route_params') %}
                            <input name="redirectParameters[{{ key }}]" type="hidden" value="{{ value }}">
                        {% endfor %}
                    {% endblock %}
                </form>
            {% endblock %}
        </div>
    {% endif %}
{% endblock %}
