{% sw_extends '@Storefront/storefront/component/product/listing.html.twig' %}

{% block element_product_listing_pagination_nav_actions %}
    <div class="cms-element-product-listing-actions">
        {% block element_product_listing_sorting %}
            {% sw_include '@Storefront/storefront/component/sorting.html.twig' with {
                current: searchResult.sorting,
                sortings: searchResult.availableSortings
            } %}
        {% endblock %}
    </div>
{% endblock %}

{% block element_product_listing_row %}
    <div class="js-listing-wrapper">
        {% if searchResult.total > 0 %}
            {% block element_product_listing_col %}
                {# Return category listing content by category id #}
                {% macro getCategoryContent(categories, id) %}
                    {% for category in categories %}
                        {% if category.id == id %}
                            <div class="cms-listing-category-info">
                                <h2 class="cms-listing-category-info-title">
                                    {{ category.category.translated.customFields.listingTitle }}
                                </h2>

                                <div class="cms-listing-category-info-content">
                                    {{ category.category.translated.customFields.listingContent|raw }}
                                </div>
                            </div>
                        {% else %}
                            {{ _self.getCategoryContent(category.children, id) }}
                        {% endif %}
                    {% endfor %}
                {% endmacro %}

                {# Get category order #}
                {% macro getCategoryOrder(categories, id) %}
                    {% for category in categories %}
                        {% if category.id == id %}
                            {{ category.category.translated.customFields.listingOrder|raw }}
                        {% else %}
                            {{ _self.getCategoryOrder(category.children, id) }}
                        {% endif %}
                    {% endfor %}
                {% endmacro %}
                
                {# Get all different category ids from products #}
                {% set listingCategories = [] %}

                {# Loop through all products #}
                {% for product in searchResult %}
                    {# Loop through all categories that product is assign to #}
                    {% for categoryId in product.categoryIds  %}
                        {# Check if category already added #}
                        {% if not(categoryId in listingCategories|column('id')) %}
                            {# Set category listing order #}
                            {% set categoryOrder = _self.getCategoryOrder(page.header.navigation.tree, categoryId)|replace({' ': ''})|replace({'\n': ''}) - 1 %}

                            {# Add to listingCategories #}
                            {% set listingCategories = listingCategories|merge([{"order": categoryOrder, "id": categoryId}]) %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}

                {# Loop through listingCategories #}
                {% for categoryId in listingCategories|sort((a, b) => a.order <=> b.order)|column('id') %}
                    <div class="row cms-listing-category-products-row">
                        {# Category listing content #}
                        <div class="col-12 col-lg-3">
                            {{ _self.getCategoryContent(page.header.navigation.tree, categoryId) }}
                        </div>

                        {# Products with same category id #}
                        <div class="col">
                            <div class="row cms-listing-row">
                                {% for product in searchResult.elements %}
                                    {% if categoryId in product.categoryIds %}
                                        <div class="cms-listing-col col-12 col-md-6 col-xl-4">
                                            {% block element_product_listing_box %}
                                                {{ parent() }}
                                            {% endblock %}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endblock %}
        {% else %}
            {% block element_product_listing_col_empty %}
                {% block element_product_listing_col_empty_alert %}
                    {{ parent() }}
                {% endblock %}
            {% endblock %}
        {% endif %}
    </div>
{% endblock %}
